<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- js 인라인 사용 전 -->
<script>
  var username = "[[${user.username}]]"; // "" 추가
  var age = [[${user.age}]]; // 숫자는 할 필요 없다

  // js 내추럴 템플릿
  var username2 = /*[[${user.username}]]*/ "test username";

  //객체
  var user = [[${user}]]; // toString이 호출된다.
</script>


<!-- js 인라인 사용 후 -->
<script th:inline="javascript">
    var username = [[${user.username}]];
    var age = [[${user.age}]];

    // js 내추럴 템플릿
    var username2 = /*[[${user.username}]]*/ "test username"; // 주석 부분을 값으로 사용

    // 객체
    var user = [[${user}]]; // json으로 변경
</script>

<!-- 자바스크립트 인라인 each -->
<script th:inline="javascript">
    [# th:each="user, stat : ${users}"]
    var user[[${stat.count}]] = [[${user}]];
    [/]
</script>

</body>
</html>